<article class="markdown-body entry-content" itemprop="text" style="padding: 100px">

<li>
	<p><a name="user-content-spaces-indentation"></a>
		Print any ruby code
	</p>
	<div class="highlight highlight-source-ruby">
		<pre>puts 'Hello'</pre>
		<pre>OR</pre>
		<pre>print 'Hello'</pre>
	</div>
</li>

<li>
	<p><a name="user-content-spaces-indentation"></a>
		Assign values to variables and expression
	</p>
	<div class="highlight highlight-source-ruby">
		<pre>a = 10</pre>
		<pre>b = 3 * a + 2</pre>
		<pre>puts "a: #{a} and b: {b}" </pre>
	</div>
</li>

<li>
	<p><a name="user-content-spaces-indentation"></a>
		Making an array and insert values in it
	</p>
	<div class="highlight highlight-source-ruby">
		<pre>a = [ 45, 3, 19, 8 ]</pre>
	</div>
</li>

<li>
	<p><a name="user-content-spaces-indentation"></a>
		Array functions:
	</p>
	<div class="highlight highlight-source-ruby">
		<pre>a = [ 45, 3, 19, 8 ]</pre>
		<pre>a.max #45</pre>
		<pre>a.min #8</pre>
		<pre>a.sort #[45, 19, 8, 3]</pre>
	</div>
</li>

<li>
	<p><a name="user-content-spaces-indentation"></a>
		Making a Hash with ruby:
	</p>
	<div class="highlight highlight-source-ruby">
		<pre>z = { 'mike' => 75, 'bill' => 18, 'alice' => 32 }</pre>
		<pre>z['joe'] = 44</pre>
		<pre>puts z['mike'] #75</pre>
	</div>
</li>

<li>
	<p><a name="user-content-spaces-indentation"></a>
		Making a Loop over ruby array:
	</p>
	<div class="highlight highlight-source-ruby">
		<pre>arr = ['Apple', 'Orange', 'Grape']</pre>
		<pre>arr.each do |obj|</pre>
		<pre>  puts obj</pre>
		<pre>end</pre>

		<pre>OR</pre>

		<pre>arr.each_with_index do |obj, i|</pre>
		<pre>  puts "Index: #{i} - #{obj}"</pre>
		<pre>end</pre>
	</div>
</li>

<li>
	<p><a name="user-content-spaces-indentation"></a>
		Making a Class in ruby:
	</p>
	<div class="highlight highlight-source-ruby">
		<pre>class Test</pre>
		<pre>  def hello</pre>
		<pre>    puts "Hello Ruby!"</pre>
		<pre>  end</pre>
		<pre>  end</pre>

		<pre>object = Test. new</pre>
		<pre>object.hello</pre>
	</div>
</li>

<li>
	<p><a name="user-content-spaces-indentation"></a>
		Program of postive and negative number:
	</p>
	<div class="highlight highlight-source-ruby">
		<pre>a = 10</pre>
		<pre>if a > 0</pre>
		<pre>  puts "Number is postive"</pre>
		<pre>elsif a < 0</pre>
		<pre>  puts "Number is negative"</pre>
		<pre>else</pre>
		<pre>  puts "Number is 0"</pre>
		<pre>end</pre>
	</div>
</li>

</article>